.all {
  position: relative;
}

ul {
  list-style-type: none;
  display: inline-block;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 50px;
}

ul button {
  margin-bottom: 10px;
}
