ul {
  list-style-type: none;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  margin-bottom: 10px;
}

ul button {
  margin-bottom: 10px;
}
